[submodule "External/Pearl"]
	path = External/Pearl
	url = git://github.com/Lyndir/Pearl.git
[submodule "External/PlayHavenSDK"]
	path = External/PlayHavenSDK
	url = git://github.com/lhunath/sdk-ios.git
