# Compiled objects.
/Web/target

# Secret stuff
/Resources/PlayHaven.plist

# Encoded audio.
/Resources/Audio/*/*flac

# OS-Specific junk.
.DS_Store

# Eclipse IDE
/Web/.classpath
/Web/.project
/Web/.settings
/Web/eclipse

# Xcode IDE
/*.xcodeproj/*
!/*.xcodeproj/*.pbxproj
/build

# Gorillas Stuff
/Web*/trac
/Web*/cocos2d-iphone-*-gorillas.tbz2
/promocodes
